.beer-item {
	position: relative;
	border: 1px solid $dull-grey;
	box-sizing: border-box;
	padding:0;
	margin: 1%;
	width: 31%;
	height: 224px;
	background-image: $background-gradient;
	box-shadow: 1px 1px 4px (rgba(0,0,0,0.3));
	overflow:hidden;
	transition: 0.1s ease-in-out;
}
	.beer-item:hover {
		box-shadow: 1px 1px 3px (rgba(0,0,0,0.2));
	}
	.beer-item:active {
		box-shadow: 0px 0px 1px (rgba(0,0,0,0.1));	
	}
	.beer-item img {
		display: block;
		margin-top: 6%;
		margin-left: auto;
		margin-right: auto;
		height: 60%;
	}
	.beer-item__copy {
		position: relative;
		margin-top: 6px;
		border-top: 1px solid $dull-grey;
	}
	.beer-item__name {
		bottom: 0;
		font-weight: 500;
		color: $dark-blue;
		background-color: $white;
		box-sizing: border-box;
		text-align: center;
		overflow: hidden;
    	text-overflow: ellipsis;
    	height: 44px;
    	line-height: 22px;
		padding:3px;
		font-size: 12px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
  		display: -webkit-box;
  		-webkit-line-clamp: 2;
  		-webkit-box-orient: vertical;
	}
	.beer-item__price {
		border-left: none;
		position: relative;
		display:inline-block;
		bottom: 0;
		background-color: $white;
		box-sizing: border-box;
		text-align: left;
		overflow: hidden;
    	text-overflow: ellipsis;
    	color: $dull-grey;
    	white-space: nowrap;
		padding:3px;
		font-size: 14px;
		width: 100%;
		overflow: hidden;
	}

	.beer-item__favourite {
		position:absolute;
		right: 3px;
		bottom: 3px;
		z-index: 200;
		height: 32px;
		width: 32px;
	}
	.beer-item__abv {
		font-size: 10px;
		position: absolute;
		top: 60%;
		right: 2px;
		color: $dark-blue;	
	}
	.beer-item__quick-add {
		position:absolute;
		top:0;
		right: 0;
		width: 52px;
		height: 52px;
		border-radius: 0 0 0 60px;
		background-color: $orange;
		background-image: url("/images/add-cart.svg");
		background-size: contain;
		box-shadow: 0 1px 4px (rgba(0,0,0,0.4));
		border:none;
		color: $white;
		transition: 0.1s ease-in-out;
	}
		.beer-item__quick-add:hover {
			box-shadow: 0 0 2px (rgba(0,0,0,0.3));
		}
		.beer-item__quick-add:active {
			box-shadow: 0 0 1px (rgba(0,0,0,0.2));
		}
		.beer-item__quick-add img {
			top: 6px;
			right: 6px;
			position: absolute;
			height: 50%;
		}