
.beer-list {
	margin-top: $sub-menu-height / 2 + 12px;
	box-sizing: border-box;
	padding:0;
	position: relative;
	margin-bottom:60px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	background: $light-grey;
	list-style: none;
}
	.beer-list__scroller {
		height: 87vh;
		overflow: scroll;
	}
	.beer-list__loader {
		width: 100%;
		height: 200px;
	}