.checkout {
	z-index: 555560;
	position: fixed;
	height: 86%;
	top: 93%;
	width: 100%;
	border-radius: 30px 30px 0 0;
	background-color: $checkout-grey;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
	transition: 0.2s ease-in-out;
}
	.checkout.open {
		top:14%;
	}
	.checkout__title {
		font-size: 14px;
		width: 100%;
		line-height: 16px;
		text-align: center;
		color: $dull-grey;
	}
		.checkout__title img {
			margin-right: 6px;
			width: 12px;
			height: 12px;
		}

	.checkout__handle_bar {
		margin:auto;
		width: 20px;
		height: 2px;
		background-color: $dull-grey;
		border-radius: 8px;
		margin-bottom:5px;
	}
		.checkout__handle {
			box-sizing: border-box;
			text-align: center;
			padding-top: 8px;
			width: 100%;
			padding-bottom: 18px;
		}

.checkout__basket-list {
	padding:12px;
	box-sizing:border-box;
	min-height: 40%;
	max-height: 50%;
	overflow: auto;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.9);
}

.checkout__basket-item {
	padding: 12px 0;
	border-bottom: 1px solid $menu-grey;
}
	.checkout__basket-item_img-wrapper {
		float: left;
		position: relative;
		width: 80px;
		height: 80px;
		background: $background-gradient;
		border-radius: 40px;
		text-align: center;
	}
		.checkout__basket-item_img-wrapper img {
			height: 100%;
		}
		.checkout__basket-item_img-price {
			font-size: 12px;
			font-weight: bold;
			padding:4px;
			border-radius: 9px;
			position:absolute;
			top: 0;
			right: 0;
			background-color: $orange;
			color: black;

		}

	.checkout__basket-item_copy-wrapper {
		text-align: left;
		padding: 12px 8px;
		width:70%;
		float: left;
		color: $white;
	}
		.checkout__basket-item_copy-wrapper p {
			color: $dull-grey;
		}

.checkout__basket-item_modifiers {
	min-width: 160px;
	float: right;
	color: $white;
}

	.checkout__basket-item_modifiers span {
		margin:0 12px;
	}
	.checkout__basket-item_modifiers button.button {
		background-color: transparent;	
		border: 1px solid $dull-grey;
		padding: 0 12px;
		border-radius: 8px 0 0 8px;
		font-size: 14px;
		line-height: 22px;
	}
	.checkout__basket-item_modifiers button.button.primary {
		color: $checkout-grey;
		border-radius: 0 8px 8px 0;
		background-color: $orange;
	}
	.checkout__basket-item_modifiers .delete {
		position:relative;
		top:3px;
		padding: 12px;
		background-color: transparent;
		border: none;
	}
		.checkout__basket-item_modifiers .delete img {
			height: 20px;
			width: auto;
		}

.checkout__final-form {
	width: 100%;
	position: absolute;	
	bottom: 0;
	height: 190px;
}
.checkout__totals {
	margin: 4% 10%;
	width:80%;	
}

.checkout__total-label, .checkout__total {
	float:left;
	font-weight: 300;
	left: 40px;
	color: $white;
	font-size: 18px;
	
}
	.checkout__total {
		float: right;
		right: 0;
		text-align: right;
		font-weight: 500;
		font-size: 18px;
	}

.checkout__confirm, .checkout__cancel {
	margin: 0 5%;
	width: 90%;
	font-weight: 500;
	border:none;
	color: black;
	position: relative;
	font-size: 22px;
	height: 54px;
	background-color: $orange;
	border-radius: 20px;
}

.checkout__cancel {
	font-weight: 300;
	background-color: transparent;
	color: $dull-grey;
	margin: 12px 5%;

}

.checkout__basket-empty {
	text-align: center;

}

.checkout__basket-empty img {
	margin-bottom: 20px;
	max-height: 140px;
}
.checkout__basket-empty span {
	text-align: center;
	font-size: 22px;
	color: $dull-grey;
}

.checkout__item-count {
	color: white;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top: -10px;
	left: 10px;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	background-color: $orange;
	opacity: 1;
	visibility: visible;
	transition: 0.3s ease-in-out;
}
	.checkout__item-count.hidden {
		opacity: 0;
		visibility: hidden;
		height: 60px;
		width: 60px;
		top: -50px;
	}

