$menu-grey: #2f2e30;
$checkout-grey: #212129;
$main-red: #dd0001;
$light-grey: #F3F4FA;
$mid-grey: #E1E4EA;
$dull-grey: #999;
$white: #FFFFFF;
$background: #FFFFFF;
$orange: #f9b701;
$dark-blue: #3355CC;
$background-gradient: linear-gradient(141deg, rgba(159, 184, 173, 0.1) 0%, rgba(31, 200, 219, 0.2) 51%, rgba(44,181,232,0.30) 75%);

$title-height: 40px;
$menu-height: 50px;
$sub-menu-height: 90px;


.clear {
	clear: both;
}

ul {
	margin: 0;
	list-style:none;
}

body{
	font-size: 1rem;
}

h1{
	letter-spacing: 6px;
    margin: 0;
    line-height: 5vh;
    font-size: 2.6vh;
    font-weight: 700;
    text-transform: uppercase;
}

h2{
	margin:0;
	font-size: 4em;
	font-weight: 700;
}

h3{
	margin:0;
	font-size: 3.5em;
    font-weight: 400;
}

h4{
	margin:0;
	font-size: 15px;
    font-weight: 600;
}

p{
	margin:0;
	font-weight: 300;
}

:focus {outline:none;} ::-moz-focus-inner {border:0;}
