.menu {
	overflow:hidden;
	margin:0;
	padding:0;
	position: relative;
	width: 100%;
	background-color: $main-red;
	height: $menu-height;
}
	.menu__item {
		text-align: center;
		position:relative;
		z-index: 100;
		display:inline-block;
		width:25vw;
	}
		.menu__item img {
			margin-top: 12px;
			text-align: center;
			height: 32px;
			width: auto;
		}
	.menu__item-highlighter {
		margin:0.5vw;
		transition: 0.2s ease-in-out;
		height: 100%;
		width:24vw;
		position: absolute;
		left: 0%;
		background-color: $menu-grey;
		border-radius: 12px 12px 0 0;
	}
	.menu__item-highlighter_edge, .menu__item-highlighter_cover {
		background-color: $menu-grey;
		position:absolute;
		width: 32px;
		right: -32px;
		bottom: 0;
		height: 32px;
	}
		.menu__item-highlighter_edge.front {
			right: auto;
			left: -32px;
		}
		.menu__item-highlighter_cover.front {
			border-radius:0 0 13px 0;
			left: -36px;
		}
	.menu__item-highlighter_cover {
		right: -36px;
		width: 36px;
		height: 42px;
		bottom: 0;
		border-radius: 0 0 0 13px;
		z-index: 3;
		background-color: $main-red;

	}