.selected-beer {
	z-index: 555556;
	position: fixed;
	margin: 10% 5% 20%;
	width: 90%;
	height: 82%;
	background-color: white;
	background-image: $background-gradient;
	box-shadow: 1px 1px 9px (rgba(0,0,0,0.8));
	opacity: 1;
	visibility: visible;
	transition: 5s ease-in-out;
}
	.selected-beer.hidden {
		opacity: 0;
		visibility: hidden;
	}

	.selected-beer__close {

		background-color: black;
		color: $white;
		position: absolute;
		top: -20px;
		right: -20px;

		border-radius: 40px;
		box-shadow: 1px 1px 6px (rgba(0,0,0,0.6));
		text-align: center;
	}
		.selected-beer .selected-beer__close img {
			height: 16px;
			padding: 16px;
			margin: 0;
		}
	.selected-beer__name {
		color: $dark-blue;
		box-shadow: 1px 1px 6px (rgba(0,0,0,0.5));
		width: 100%;
		padding: 2px;
		box-sizing: border-box;
		font-size: 26px;
		text-align: center;
		background-color: $white;
		overflow: hidden;
  		text-overflow: ellipsis;
  		white-space: nowrap;
	}
	.selected-beer img {
		margin:16px 0;
		display:block;
		margin-left: auto;
		margin-right: auto;
		height: 30%;
	}
	.selected-beer__tabs {
		position: absolute;
		bottom: 64px + 102px;
		display: table;
		width: 100%;
		border-collapse: collapse;
	}

		.selected-beer__tab:first-child {
			border-right: 1px solid $dull-grey !important;
		}
		.selected-beer__tab {
			display: table-cell;
			text-align: center;
			padding: 12px 0;
			box-sizing: border-box;
			float:left;
			width: 50%;
			color: $dull-grey;
			transition: 0.2s ease-in-out;
			border: 1px solid transparent;
		}
			.selected-beer__tab.active {
				background-color: $white;
				border: 1px solid $mid-grey;
				border-bottom: 1px solid $white;
				color: $dark-blue;
			}
	.selected-beer__add {
		float:right;
		border:none;
		color: white;
		position: absolute;
		font-size: 25px;
		height: 50px;
		width: 100%;
		background-color: $orange;
		bottom: 0;
	}
	.selected-beer__copy-wrapper {
		width: 100%;
		bottom: 50px;
		position: absolute;
		background-color: $white;
		height: 120px;
	}
	.selected-beer__copy {
		line-height: 20px;
		height: 20px * 5 - 9px;
		font-style: italic;
		background-color: $white;
		padding: 9px;
		overflow: hidden;
		text-overflow: ellipsis;
  		display: -webkit-box;
  		-webkit-line-clamp: 5;
  		-webkit-box-orient: vertical;
  		
	}
	.selected-beer__tagline {
		padding: 18px 0;
		width: 100%;
		font-style: italic;
		font-weight: bold;
		text-align: center;	
	}

