header {
	z-index: 300;
	position: fixed;
	width: 100%;
	background-color: $main-red;
}

.shop-wrapper {
	position: absolute;
	width: 100%;
	height:100%;
	background-color: $light-grey;
}

.views-wrapper {
	padding-top: $menu-height + $title-height;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.title {
	padding-top: 12px;
	width: 100%;
	height: $title-height;
	background-color: $main-red;
	text-align: center;
}

.blur-modal {
	position: fixed;
	z-index: 555555;
	height: 100vh;
	width: 100vw;
	backdrop-filter: blur(10px);
	opacity: 1;
	visibility: visible;
	transition: 0.2s ease-in-out;
}
	.blur-modal.hidden {
		opacity: 0;
		visibility: hidden;
	}

.empty-view {
	text-align: center;
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: $mid-grey;
	background-size: 50%;
	background-position: 50%; 
	background-repeat: no-repeat;
}
	.empty-view.food {
		background-image: url("/images/food.svg");
	}
	.empty-view.discounts {
		background-image: url("/images/discount.svg");		
	}
	.empty-view.search {
		background-image: url("/images/search.svg");			
	}


.landscape-cover {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: $main-red;
	z-index:8555559;
	visibility: hidden;
	vertical-align: middle;
	text-align: center;
	padding-top: 40%;
}
	.landscape-cover span {

		color: white;
		font-size: 20px;
	}

@media (orientation: landscape){
	.landscape-cover {
		visibility: visible;
	}
}