.sub-menu {
	display: table;
	position:relative;
	line-height: 100%;
	height: 100%;
	padding: 0;
	width: 100%;
	transition: 0.2s ease-in-out;
	left: 0vw;
	z-index: 500;
}
	

	.sub-menu__holder {
		margin-top: 12px;
		background-color: $menu-grey;
		position:fixed;
		height: $sub-menu-height / 2;
		width: 100%;	
		z-index: 500;
		box-sizing:border-box;	
		transition: 0.4s ease-in-out;
		top: 0;
	}
		.sub-menu__holder.hidden {
			top: - $sub-menu-height / 2 + 6px ;
		}
	.sub-menu li {
		text-align: center;
		font-size: 5.6vw;
		color: $dull-grey;
		width: 33.333%;
		display: table-cell;
		vertical-align: middle;
		transition: 0.2s ease-in-out;
	}
		.sub-menu li.active {
			color: $white;
		}

	// .sub-menu__filters {
	// 	height: $filters-height;
	// 	padding:0;
	// 	margin:0;
	// 	width: 100%;
	// 	background-color: white;
	// 	display:inline-block;
	// 	box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	// }
	// 	.sub-menu__filters li {

	// 		color: $dull-grey;
	// 		box-sizing:border-box;
	// 		padding:12px;
	// 		display:inline-block;
	// 		width: 50%;
	// 	}